@import '../utils/utils.main.scss';
.partners {
    padding: 75px 65px 128px;
    overflow: hidden;
    .title-gradient {
        margin-bottom: 35px;
    }
    .container {
        position: relative;
        overflow: hidden;
        .partners__list {
            @include flex(row, space-between, center);
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0px;
            height: 100%;
            width: 30%;
            z-index: 2;
        }
        &::before {
            left: -1px;
            background: linear-gradient(90deg, #0E1314 0%, rgba(14, 19, 20, 0.97) 56.25%, rgba(14, 19, 20, 0) 100%);
        }
        &::after {
            right: -1px;
            background: linear-gradient(-90deg, #0E1314 0%, rgba(14, 19, 20, 0.97) 56.25%, rgba(14, 19, 20, 0) 100%);
        }
    }
    @media screen and (max-width: 1440px) {
        .container {
            .partners__list {
                @include flex(row, center, center);
                .partners__item {
                    margin: 0 35px;
                }
            }
        }
    }
}