@import '../utils/utils.main.scss';
.products {
    position: relative;
    overflow: hidden;
    padding-top: 98px;
    .product-back-img {
        position: absolute;
        left: 0px;
        bottom: -10px;
        z-index: -1;
        opacity: 0;
    }
}

.products-list {
    margin-top: 11px;
    flex-wrap: wrap;
    @include flex(row, center, null);
    .product-item {
        max-width: 300px;
        margin: 43px 100px;
        @include flex(column, null, center);
        img {
            height: 95px;
        }
        .product-item__title {
            text-align: center;
            margin: 15px 0px;
            @include font(36px, 700, 41px, $color_white);
        }
        .product-item__text,
        ul li {
            text-align: center;
            @include font(18px, 200, 21px, $color_white);
        }
        ul {
            text-align: center;
            li {
                position: relative;
                display: inline-block;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: $color_white;
                }
            }
        }
    }
}

.container.products-container__purpose {
    perspective: 200px;
    .container-perspective {
        background: rgba(56, 92, 95, 0.3);
        box-shadow: inset 1px 1px 4px #4FFFCA;
        backdrop-filter: blur(20px);
        border-radius: 8px;
        margin-top: 137px;
        padding: 70px 10px 50px;
        transform: rotateX(7deg) rotateY(0deg);
        transform-style: preserve-3d;
        @include flex(column, flex-start, center);
        .purpose-text {
            text-align: center;
            margin: 42px 0px 60px;
            @include font(20px, 200, 23px, $color_white);
        }
    }
}

.purpose-list {
    @include flex(row, center, center);
    .purpose-item {
        width: 100%;
        max-width: 442px;
        min-height: 123px;
        text-align: center;
        text-transform: uppercase;
        padding: 0px 20px;
        border-right: 1px solid #EBE7E5;
        @include font(18px, 200, 21px, #EBE7E5);
        @include flex(row, center, center);
        &:last-child {
            border-right: none;
        }
    }
}

.products-line {
    width: 100%;
    height: 1px;
    background-color: $color_green;
    margin: 70px 0 45px;
}

.product-container__bitcoin {
    text-align: center;
    @include flex(column, null, center);
    .bitcoin-title {
        margin-bottom: 20px;
        @include font(43px, 700, 49px, $color_white);
    }
    .bitcoin-text {
        max-width: 1300px;
        @include font(26px, 300, 31px, $color_white);
    }
    .bitcoin__strong-text {
        margin-bottom: 30px;
        @include font(26px, 700, 31px, $color_white);
    }
    .button-registration {
        width: 233px;
        height: 44px;
    }
}

@media screen and (max-width: 1440px) {
    .container.products-list__container {
        max-width: 1200px;
    }
    .products-list {
        margin-top: 90px;
        .product-item {
            margin: 43px 50px;
            img {
                max-height: 75px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .purpose-list {
        .purpose-item {
            padding: 0 15px;
            @include font(15px, 200, 20px, #EBE7E5);
        }
    }
}

@media screen and (max-width: 950px) {
    .container.products-container__purpose {
        padding: 70px 20px 50px;
    }
    .purpose-list {
        .purpose-item {
            padding: 0 13px;
            @include font(13px, 200, 20px, #EBE7E5);
        }
    }
}

@media screen and (max-width: 750px) {
    .products {
        padding: 80px 20px 0;
        .product-back-img {
            bottom: 750px;
        }
    }
    .products-list {
        margin-top: 60px;
    }
    .container.products-container__purpose {
        .purpose-text {
            margin: 40px 0px;
        }
    }
    .purpose-list {
        @include flex(column, flex-start, center);
        .purpose-item {
            min-height: 80px;
            border-right: none;
            position: relative;
            br {
                display: none;
            }
            &::before {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                width: 123px;
                background-color: #EBE7E5;
            }
        }
    }
}