section.ads
    img(src="./img/ads_section/ads_img1.svg", alt="bg-img").ads_img1
    img(src="./img/ads_section/ads_img2.svg", alt="bg-img").ads_img2
    .container
        img(src="./img/ads_section/ads_rocket.webp", alt="rocket" data-aos="fade-up" data-aos-offset="100").ads-rocket__img
        .ads-text-content
            span.ads-text-content__percent(data-aos="fade-up" data-aos-offset="100" data-aos-delay="50") 0%
            span.ads-text-content__text.lan(data-lan="adsTextContentText" data-aos-offset="100" data-aos="fade-up" data-aos-delay="150") на ввод средств
            button.btn-registration.btn.ads-btn#buy.lan(data-lan="adsBtn" data-aos-offset="100" data-aos="fade-up" data-aos-delay="200") КУПИТЬ BITCOIN