section.aff-program 
    .container
        .aff-program__content 
            h3.aff-program__title.lan(data-lan="affProgramTitle") Партнерская программа
            p.aff-program__text.lan(data-lan="affProgramText") С помощью сервиса UNI Stex Вы можете не только выгодно <br> обменивать электронную валюту, но и хорошо зарабатывать <br> на этом (Партнерская программа)<br> Выплату сможете получить любым удобным для Вас способом <br> представленным в вашем личном кабинете UNI Stex.
            button.aff-program__btn.btn.lan(data-lan="affProgramButton") ПОЛУЧИТЬ ССЫЛКУ
    img(src="./img/affiliate-program_section/img_b2.svg", alt="img").aff-program__left-bg
    .aff-program__right-bg-wrap 
        img(src="./img/affiliate-program_section/space.webp", alt="img").aff-program__right-bg
        img(src="./img/affiliate-program_section/space-mobile.svg").aff-program__right-bg-mobile
        .aff-program__right-bg-shadow