section.app
    .shadow_circle
    .container
        .app__img-wrap
            img(src="./img/app_section/phone-display.webp", alt="phone-display")
            .app-line-decor
        .app-content 
            h3.app__title.lan(data-lan="appTitle") Торгуй везде с <br> UNI Stex
            p.app__text.lan(data-lan="appText1") Все сервисы UNI Stex всегда с вами в нашем приложении. <br> Быть всегда на волне тренда – это выбор тех, кто торгует и получает прибыль.
            p.app__text.app__text-last.lan(data-lan="appText2") Скачайте наше приложение и не упускайте прибыльных движений рынка.
            a(href="https://itunes.apple.com/us/app/sutiawbapp/id1166499?ls=1&mt=8").app-btn#downloud-btn
                i.fa-brands.fa-apple
                .app-btn__text 
                    span Download on the
                    span App Store
        