section.crypto-exchange
    .container
        h3.crypto-exchange__title.lan(data-lan="cryptoExchangeTitle" data-aos="fade-right") <strong>Регулируемая</strong> криптовалютная <strong>биржа</strong>
        ul.crypto-exchange__list
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem1" data-aos="fade-right") УдобныЙ <strong>интерфейс</strong> 
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem2" data-aos="fade-right") <strong>0% на ввод</strong> средств
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem3" data-aos="fade-right") Многоуровневая <strong>реферальнАЯ программa</strong>
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem4" data-aos="fade-right") <strong>БЫСТРЫЙ обменник</strong> без регистрации
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem5" data-aos="fade-right") <strong>поддержка 24/7</strong>
        button.btn#start-trading.lan(data-lan="startTrading" data-aos="fade-right") НАЧАТЬ ТОРГОВЛЮ
    img(src="./img/crypto-exchange_section/bg_img5.svg", alt="bg-img").crypto-exchange__bg5
    .shadow_circle