section.crypto-exchange
    .container
        h3.crypto-exchange__title.lan(data-lan="cryptoExchangeTitle") <strong>Регулируемая</strong> криптовалютная <strong>биржа</strong>
        ul.crypto-exchange__list
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem1") УдобныЙ <strong>интерфейс</strong> 
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem2") <strong>0% на ввод</strong> средств
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem3") Многоуровневая <strong>реферальнАЯ программa</strong>
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem4") <strong>БЫСТРЫЙ обменник</strong> без регистрации
            li.crypto-exchange__item.lan(data-lan="cryptoExchangeItem5") <strong>поддержка 24/7</strong>
        button.btn#start-trading.lan(data-lan="startTrading") НАЧАТЬ ТОРГОВЛЮ
    img(src="./img/crypto-exchange_section/bg_img5.svg", alt="bg-img").crypto-exchange__bg5
    .shadow_circle