section.estonia-inf
    img(src="./img/estonia-inf_section/flag.webp", alt="flag")
    .estonia-inf__container 
        .shadow_circle.shadow_circle__gsap
        p.estonia-inf__text.lan(data-lan="estoniaInfText" ) Эстонский отдел финансовой разведки<br> (FIU или RAB на эстонском языке) регулирует оборот обмен, выдачу лицензий на проведение операций с криптовалютой.
        button.btn-registration.btn.lan(data-lan="startTrading") НАЧАТЬ ТОРГОВЛЮ