include ../utils/mixin.pug
section.faq
    .container
        h3.faq__title.lan(data-lan="faqTitle") Часто задаваемые вопросы
        ul.faq-accordeon-list
            +faqList({
                dataLan: 'accordeonItemTitle1',
                title: 'Ошибка кода 2FA', 
                text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nemo nisi totam quisquam facilis amet repellendus error odio minus in?'
                })
            +faqList({
                dataLan: 'accordeonItemTitle2',
                title: 'Как зарегистрировать аккаунт на сайте UNI Stex', 
                text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, cum. Voluptatum quia rerum eos ea veniam numquam accusantium repellendus commodi.'
                })
            +faqList({
                dataLan: 'accordeonItemTitle3',
                title: 'Как изменить пароль от своего аккаунта (Личного кабинета)', 
                text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, veritatis!'
                })
            +faqList({
                dataLan: 'accordeonItemTitle4',
                title: 'Как зарегистрировать аккаунт на сайте UNI Stex', 
                text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo nostrum ratione deleniti mollitia ipsam sit cupiditate aliquid expedita, velit eum placeat maiores. Expedita laborum qui officia ea maxime veniam incidunt?'
                })
            +faqList({
                dataLan: 'accordeonItemTitle5',
                title: 'Как изменить пароль от своего аккаунта (Личного кабинета)', 
                text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi qui quaerat soluta labore, voluptatum earum. Quam, debitis facere molestias beatae tempora deleniti officia magni quidem.'
                }) 
            +faqList({
                dataLan: 'accordeonItemTitle6',
                title: 'Ошибка кода 2FA', 
                text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, illo accusantium nisi, commodi ea totam fugiat tempore adipisci assumenda doloremque, aliquid quia nulla.'
                })