.container
    a(href="#").footer-logo
        img(src="./img/footer/footer-logo.svg", alt="footer-logo") 
    ul.footer-address-list
        li.footer-address-item.lan(data-lan="footerAddressItem1") Торгуйте с финансовым мышлением
        li.footer-address-item.lan(data-lan="footerAddressItem2") Юнитехнология OU
        li.footer-address-item.lan(data-lan="footerAddressItem3") Регистрационный код — 14731902
        li.footer-address-item.lan(data-lan="footerAddressItem4") Номер лицензии — FVT000475
        li.footer-address-item.lan(data-lan="footerAddressItem5") Osmussaare tn 8, Ласнамяэский район, 
        li.footer-address-item.lan(data-lan="footerAddressItem6") Харьюмаа, 13811, Таллинн, Эстония
    ul.footer-list__links 
        li.footer-item__links
            a(href="#") 
                i.fa-brands.fa-facebook-f
        li.footer-item__links
            a(href="#") 
                i.fa-brands.fa-youtube
        li.footer-item__links
            a(href="#") 
                i.fa-brands.fa-instagram
    ul.footer-spoiler
        .footer-spoiler__title.lan(data-lan="footerSpoilerTitle") Предупреждение о рисках
        .footer-spoiler__text.lan(data-lan="footerSpoilerText") Финансовые продукты, предлагаемые на этом веб-сайте, включают цифровые инструменты, контракты на разницу цен (CFD) и другие сложные производные инструменты и финансовые продукты. Варианты торговли могут подойти не всем. Торговля CFD сопряжена с высоким уровнем риска, поскольку кредитное плечо может работать как в вашу пользу, так и во вред. В результате продукты, предлагаемые на этом веб-сайте, могут не подходить для всех инвесторов из-за риска потери всего вложенного капитала. Вы никогда не должны инвестировать деньги, которые вы не можете позволить себе потерять, и никогда не торговать заемными деньгами. Прежде чем торговать предлагаемыми сложными финансовыми продуктами, обязательно ознакомьтесь с сопутствующими рисками и узнайте о безопасной и ответственной торговле.