section.partners 
    h2.title-gradient.lan(data-lan="partnersTitle") партнеры
    ul.partners__list 
        li.partners__item
            img(src="./img/partners_section/b2bx.svg", alt="b2bx")
        li.partners__item
            img(src="./img/partners_section/perfect-money.svg", alt="perfect-money")
        li.partners__item
            img(src="./img/partners_section/mastercard.svg", alt="mastercard")
        li.partners__item
            img(src="./img/partners_section/visa.svg", alt="visa")
        li.partners__item
            img(src="./img/partners_section/sum.svg", alt="sum")
        li.partners__item
            img(src="./img/partners_section/sectigo.svg", alt="")
        li.partners__item
            img(src="./img/partners_section/psp.svg", alt="psp")