section.products
    img(src="./img/products_section/products_line.svg", alt="img").product-back-img
    .container 
        h2.products-title.lan(data-lan="productsTitle") ТОВАРЫ
        ul.products-list 
            .product-item
                img(src="../../img/products_section/products_img1.svg", alt="img")
                h4.product-item__title.lan(data-lan="productItemTitle1") Спотовая торговля
                ul
                    li.lan(data-lan="productItemText1-1") Кастомизируемый интерфейс
                    li.lan(data-lan="productItemText1-2") Несколько типов ордеров
                    li.lan(data-lan="productItemText1-3") Мощный матчинговый движок
                    li.lan(data-lan="productItemText1-4") Простые в построении графики
            li.product-item 
                img(src='../../img/products_section/products_img2.svg', alt="img")
                h4.product-item__title.lan(data-lan="productItemTitle2") Простой обмен
                p.product-item__text.lan(data-lan="productItemText2") Быстрая покупка и продажа криптовалюты в один клик. Быстрый и безопасный обмен в автоматическом режиме.
            li.product-item 
                img(src='../../img/products_section/products_img2.svg', alt="img")
                h4.product-item__title.lan(data-lan="productItemTitle3") Криптовалютный кошелек
                p.product-item__text.lan(data-lan="productItemText3") Все операции в одном криптовалютном кошельке. Создавай свой бесплатный кошелек, обменивай криптовалюты и фиат.
            li.product-item 
                img(src='../../img/products_section/products_img4.svg', alt="img")
                h4.product-item__title.lan(data-lan="productItemTitle4") Некастодиальный обменник
                p.product-item__text.lan(data-lan="productItemText4") Создан специально для быстрого и анонимного обмена криптовалют и фиатных средств.
            li.product-item 
                img(src='../../img/products_section/products_img5.svg', alt="img")
                h4.product-item__title.lan(data-lan="productItemTitle5") Партнерская программа
                p.product-item__text.lan(data-lan="productItemText5") Станьте партнером и получайте прибыль от приглашенных друзей. До 60% от суммы комиссий, оплаченных ими за торговлю.
        .products-container__purpose
            a(href="/").logo 
                img(src="./img/products_section/logo-pr.svg", alt="logo").logo__img
            .purpose-text.lan(data-lan="purposeText") Многофункциональная блокчейн-платформа для управления <br> и торговли крипто и цифровыми активами, предназначенная для:
            ul.purpose-list 
                li.purpose-item.lan(data-lan="purposeItemText1") владельцев <br> любых <br> криптовалют
                li.purpose-item.lan(data-lan="purposeItemText2") проектов, выпускающих свою криптовалюту или токены для бизнеса
                li.purpose-item.lan(data-lan="purposeItemText3") комерческих организаций, желающих проводить транзакции в криптовалюте
                li.purpose-item.lan(data-lan="purposeItemText4") Обмена <br> криптовалют <br> на фиааты и <br> обратно
                li.purpose-item.lan(data-lan="purposeItemText5") покупка и <br> продажа <br> криптовалют
        hr.products-line
        .product-container__bitcoin
            h3.bitcoin-title.lan(data-lan="bitcoinTitle") Покупай и продавай Bitcoin <br> на криптобирже UNI Stex
            p.bitcoin-text.lan(data-lan="bitcoinText") <strong>UNI Stex</strong> - удобная торговая площадка с простыми и понятными торговыми инструментами,<br> при помощи которых можно легко торговать и обменивать криптовалюту,<br> а также конвертировать ее в фиаты.
            strong.bitcoin__strong-text.lan(data-lan="bitcoinStrongText") Основным партнером по Молдавии является компания BPay
            button.btn.button-registration.lan(data-lan="buttonRegistration") ЗАРЕГИСТРИРОВАТЬСЯ