// utils 
@import './utils/utils.main.scss';
// modules
@import './modules/header.scss';
@import './modules/estonia-inf_section.scss';
@import './modules/products_section.scss';
@import './modules/ads_section.scss';
@import './modules/partners_section.scss';
@import './modules/crypto-exchange_section.scss';
@import './modules/app_section.scss';
@import './modules/affiliate-program_section.scss';
@import './modules/faq_section.scss';
@import './modules/footer.scss';
@import './modules/login-registration-modal.scss';
.container {
    max-width: 1574px;
    width: 100%;
    margin: 0 auto;
}

#open-mobile-menu {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
    background: transparent;
    color: $color_green;
    font-size: 40px;
    border-radius: 50%;
    display: none;
}

.btn {
    border: none;
    border-radius: 10px;
    background-color: $color_green;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .5s;
    @include font(14px, 700, 17px, #192227);
    &:hover {
        background-color: #41bb97;
    }
}

.shadow_circle {
    background-color: rgba(79, 192, 255, .15);
    -webkit-filter: blur(130px);
}

.title-gradient {
    text-transform: uppercase;
    text-align: center;
    background: radial-gradient(206.43% 206.43% at 50% -20.36%, #141E1E 0%, #0F1415 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    mix-blend-mode: screen;
    @include font(180px, 700, 207px, null);
}

//adaptive
@media screen and (max-width: 1440px) {
    .container {
        max-width: 1000px;
    }
    .title-gradient {
        @include font(140px, 700, 140px, null);
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

@media screen and (max-width: 950px) {
    .container {
        max-width: 700px;
    }
    #open-mobile-menu {
        display: block;
        animation: slide-in-bottom__arr 1s 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) backwards;
    }
}

@media screen and (max-width: 750px) {
    .title-gradient {
        @include font(120px, 700, 120px, null);
    }
}

@media screen and (max-width: 600px) {
    body {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    .container {
        max-width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .title-gradient {
        @include font(70px, 700, 70px, null);
    }
}