//other
@keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom__arr {
    0% {
        transform: translate(-50%, 100px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0px);
        opacity: 1;
    }
}

//header
@keyframes h-rocket {
    0% {
        transform: translate(-186px, 500px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-in-bottom__mobile {
    0% {
        transform: translate(-50%, 100px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0px);
        opacity: 1;
    }
}