doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // aos
        link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
        // google fonts
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
        // Font Avesome
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        // Box-icons
        link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
        // styles
        link(rel='stylesheet' href='./css/main.css')
        title UNI STEX
    body
        header 
            include ./pug/modules/header.pug
        main
            include ./pug/modules/estonia-inf_section.pug
            include ./pug/modules/products_section.pug
            include ./pug/modules/ads_section.pug
            include ./pug/modules/partners_section.pug
            include ./pug/modules/crypto-exchange_section.pug
            include ./pug/modules/app_section.pug
            include ./pug/modules/affiliate-program_section.pug
            include ./pug/modules/faq_section.pug
        footer.footer
            include ./pug/modules/footer.pug
        button#open-mobile-menu
            i.bx.bx-chevron-up
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js")
        script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
        script(src="./js/main.js" type="module")
            
